<div class="eachTeam" *ngFor="let team of userTeams">
            <div class="team-list-header" style="display:inline-block">
                <div class="topic-title" style="display:inline-flex">
                    <mat-icon>people_outline</mat-icon>
                    <span> {{ team.name }}</span>
                </div>
                <div>
                    <button mat-button style="background: #3f51B5; margin-right: 10px"><mat-icon style="color:white">assessment</mat-icon> <i style="color:white">Boards</i> </button>
                    <button mat-button style="background:#3f51B5; margin-right: 10px"> <mat-icon style="color:white">people_outline</mat-icon> <i style="color:white">Members({{team.idMembers.length}})</i></button>
                    <button mat-button style="background:#3f51B5; margin-right: 10px"><mat-icon style="color:white">settings</mat-icon> <i style="color:white">Settings</i> </button>
                </div>
                <div>
                    <p>{{resolveIdToUserNames(team.idMembers)}}</p>
                </div>
                <form #addTeamMembers (ngSubmit)="updateTeam(searchName.value,team)" >
                    <mat-form-field>
                        <input matInput #searchName placeholder="Search" [matAutocomplete]="auto">
                    </mat-form-field>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let user of allUsers" [value]="user.fullname">{{user.fullname}}</mat-option>
                    </mat-autocomplete>
                    <button mat-button style="display:none" type="submit">Add Member</button> 
                </form>
            </div> 
</div>
<form #createTeamForm="ngForm" (ngSubmit)="createTeam()">
    <div>
        <mat-form-field>
            <input #teamName matInput placeholder="Create a team" name="TeamName" [(ngModel)]="newTeam.name">
        </mat-form-field>
    </div>
    <div>
        <button mat-button style="display:none" type="submit">Create</button> 
    </div>
</form>